* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'open-sans','sans-serif';
}

body {
  min-height: 100vh;
  background: linear-gradient(#252525,#7597de)
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 23px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 18px;
}

header ul li a:hover {
  background: #fff;
  color: #252525;
}

.new-products .images img{
  width: 15%;
  aspect-ratio: 3/2;
  object-fit: contain;

  margin-top: 400px;
  margin-left: 50px;
  overflow: hidden;
}

/*==SLIDER==================*/

.p-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 95%;
}

.product-slider-heading {
  font-size: 28px;
  text-transform: uppercase;
  color: #313131;
  text-align: center;
  margin: 0px;
}

.product-box {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 15px;
  border: 1px solid rgba(0,0,0,0,0.08);
  border-radius: 10px;
  margin: 0px, 20px;
  position: relative;
}

.p-img-container {
  width: 100%;
  height: 100%;
  display: felx;
  overflow: hidden;
}

.p-img a, .p img {
  width: 100%;
  height: 300px;
  display: flex;
}

.p-img a img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
  animation: fade .6s;
}

.p-img-back {
  display: none;
}

.p-img-container:hover .p-img-back {
  display: block;
}

.p-img-container:hover .p-img-front {
  display: none;
}

@keyframes fade{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.p-box-text {
  margin-top: 5px;
  width: 100%;
}

.product-category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.product-category span {
  color: #acacac;
  font-size: .9rem;
  margin: 5px 0px;
}

.product-title {
  color: #333333;
  font-weight: 600;
  text-decoration: none;
  transition: all ease .3s;
}

.product-title:hover {
  color: #111111;
  opacity: .7;
  transition: all ease .3s;
}

.price-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.price-buy .p-price {
  font-size: 1.3rem;
  color: #333333;
  font-weight: 700;
}

.price-buy .p-buy-btn {
  color: #e63b3b;
  margin: 0px 5px;
  font-weight: 600;
  text-decoration: none;
}

.price-buy .p-buy-btn:hover {
  text-decoration: underline;
}

.p-discount {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 65px;
  height: 24px;
  color: #fff;
  background-color: #e63b3b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .7rem;
  letter-spacing: 1px;
  z-index: 100;
  border-radius: 3px;
}

.slider-btns {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 30px auto 10px auto;
  padding: 0px 10px;
}

.slider-btns button {
  position: static !important;
  transform: translate(0,0);
  background-color: #f3f3f3;
  width: 80px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
}

.slider-btns button span {
  font-weight: bold;
  padding: 10px 15px 10px 10px;
  position: relative;
  text-decoration: none;
}

.slider-btns button span::before, .slider-btns button span::after {
  border-right: 2px solid;
  display: block;
  height: 8px;
  margin-top: -6px;
  position: absolute;
  transform: rotate(135deg);
  right: 10px;
  top: 50%;
  width: 0;
  content: ''
}

.slider-btns button span::after {
  margin-top: -1px;
  transform: rotate(45deg);
}

.slider-btns .glider-prev {
  transform: rotate(-180deg);
}

@media(max-width:500px){
  .product-box {
    margin: 0px 10px;
  }
  .p-slider {
    width: 100%;
  }
  .product-slider-heading {
    text-align: center;
    font-size: 1.3rem;
    display: flex;
  }
  .p-img a,
  .p-img {
    height: 200px;
  }
  .price-buy .p-price {
    font-size: 1.1rem;
  }
  .p-img-container:hover .p-img-back{
    display: none;
  }
  .p-img.p-img-container:hover .p-img-front {
    display: block;
  }
}

@media(max-width:320px) {
  .p-img a,
  .p-img {
    height: 190px;
  }
  .slider-btns {
    padding: 0px;
  }
}

/*SOCIALS----------------------*/

.card {
  width: fit-content;
  height: fit-content;
  background-color: #252525;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

